body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(128, 128, 128);
}

h1 {
    font-family: cursive;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-color{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container-slider{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid black;    
    border-radius: 40px;
    width: 300px;
    height: 600px;
}