body{
    margin: 0;
}

button {
    background-color: rgb(69, 131, 131);
    font-family: cursive;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

h1{
    font-family: cursive;
}

#color-box {
    width: 350px;
    height: 150px;
    background-color: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center;  */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
